@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #FF9324
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
  }
}

/* Icon button size & spacing */
.w-nd-editor-toolber li > button {
  height: 40px !important;
  font-size: 24px !important;
  color: #4A5568 !important;
  padding: 10px !important;
}

/* Hover effect */
.w-nd-editor-toolber button:hover {
  color: #9852e4 !important;
  background-color: #E9D4FF !important;
  border-radius: 6px !important;
}

/* Active/Focused icon style */
.w-nd-editor-toolber button:focus {
  outline: none !important;
  color: #007A99 !important;
  background-color: #d0f4ff !important;
}


